.page.single-show {

  .show-article {
    margin-top: 1rem;

    header {
      display: flex;
      align-items: center;

      .show-name {
        padding: 0 1rem;
        @include font-size(32px);
      }

      .more-link {
        @include font-size(10px);
        font-weight: bold;
      }
    }

    main {
      padding: 1rem;
      @extend %clearfix;

      figure.main-image {
        float: left;
        margin-right: 1rem;
      }
    }

    .show-info-box {
      background: #efefef;
      padding: 1rem;
      border-radius: 5px;

      .title {
        @include font-size(26px);
        margin-bottom: .7rem;
        display: block;
        font-weight: 300;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin-bottom: .3rem;
        }
      }
    }
  }
}